# dependencies

node_modules
\*\*/node_modules

# git

.git
.gitignore

# ci/cd

Jenkinsfile

# local env, logs, caches

\*.log
.cache
tmp
dist
build
coverage

# docker build artifacts

Dockerfile
docker-compose.yml
